* {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;
}

/*-------------------VARIABLES---------------------------------------*/

:root {
    --orange: rgb(250, 140, 60);
    --timer: cubic-bezier(.26,.81,.97,.99);
    --blue: rgb(0, 18, 61);
    --grey: rgb(199, 199, 199);
}


/*-------------------NAVBAR-------------------------------------------*/

.navbar-background {
    background: rgb(0, 18, 61);
    width: 100vw;
    height: 150px;
    z-index: 10;
    position: fixed;
    box-shadow: 0px 3px 15px 3px rgba(90, 90, 90, .5);
    
}

.navbar {
    display: grid;
    grid-template-columns:min-content auto auto;
    grid-template-rows: min-content;
    z-index: 11;
    margin-left: 150px;
    align-items: end;
    top: 35px;
    position: fixed;
    right: 0;
    left: 0;
}


.logo {
    font-size: 40px;
    color: rgb(242, 253, 255);
    white-space: wrap;
    
}

.tele a {
    color: var(--orange);
    font-size: 25px;
    text-decoration: none;
    white-space: nowrap;
    transition: .15s var(--timer);
    margin-left: 20px;


}

.tele a:hover {
    opacity: .75;
}

.link-grid {
    display: grid;
    grid-template-columns: min-content min-content auto;
    grid-template-rows: auto;
    grid-gap: 100px;
    white-space: nowrap;
    justify-content: end;
    margin-right: 150px;
    
}

.link-grid a {
    text-decoration: none;
    color: rgb(242, 253, 255);
    font-size: 30px;
    
}

.link-grid a::after {
    content: ' ';
    position: relative;
    border-bottom: 3px solid var(--orange);
    width: 100%;
    display: block;
    bottom: 5px;
    transition: transform .15s var(--timer);
    transform: scaleX(0);
    transform-origin: right;
    z-index: 0;
}

.link-grid a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*--------------------------------CONTACT------------------------------*/

.main {
    display: flex;
    position: absolute;
    top: 25vh;
    justify-content: center;
    width: 100vw;
}

.contact-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: auto auto auto auto auto;
    padding-left: 200px;
}

.contact-header {
    grid-column: 1 / span 2;
    color: rgb(0, 18, 61);
    font-size: 40px;
    margin-bottom: 20px;
}

.line {
    grid-column: 1 / span 2;
    height: 3px;
    background: var(--orange);
    width: 60%;
}

.input {
    border: none;
    font-family: 'Abel', sans-serif;
    margin: 75px 200px 0px 0px;
    border-bottom: 2px solid var(--grey);
    width: 250px;
    transition: .15s var(--timer);
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--orange);
}

.firstnamecntr::before  {
    content: "First Name";
    position: relative;
    top: 70px; 
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    transition: .15s var(--timer);
    color: var(--blue);
    transition: .15s var(--timer); 

}


.lastnamecntr::before  {
    content: "Last Name";
    position: relative;
    top: 70px; 
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    transition: .15s var(--timer);
    color: var(--blue);

}

.phonecntr::before  {
    content: "Phone";
    position: relative;
    top: 70px; 
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    transition: .15s var(--timer);
    color: var(--blue);

}

.emailcntr::before  {
    content: "Email";
    position: relative;
    top: 70px; 
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    transition: .15s var(--timer);
    color: var(--blue);

}

.messagecntr {
    grid-column: 1 / span 2;
}

.messagecntr::before {
    content: "Message";
    color: var(--blue);
    position: relative;
    display: block;
    top: 70px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;

}

.message {
    border: 2px solid var(--grey);
    position: relative;
    margin-top: 75px;
    width: 78.2%;
    height: 100px;
    outline: none; 
    transition: .15s var(--timer);

    
}

.message:focus {
    border: 2px solid var(--orange);
}

/*--------------------------------SENDBTN------------------------------*/

.sendbtn {
    height: 45px;
    width: 150px;
    background: rgb(250, 140, 60);
    font-size: 30px; 
    font-family: 'Abel', sans-serif;   
    line-height: 45px;
    text-align: center;
    position: relative;
    margin-top: 75px;
    text-decoration: none;
    color: rgb(0, 18, 61);
    transition: transform .5s cubic-bezier(.26,.81,.97,.99) .1s 
                , opacity .5s cubic-bezier(.26,.81,.97,.99) .4s
                , background-color .5s cubic-bezier(.26,.81,.97,.99);
}

.sendbtn:hover {
    background-color: rgb(250, 181, 117);
    cursor: pointer;
}

.sendbtn::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgb(0, 18, 61);
    width: 100%;
    height: 3px;
    transition: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}

.sendbtn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.sendbtn::after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 0;
    background: rgb(0, 18, 61);
    width: 100%;
    height: 3px;
    transition: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.sendbtn:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.sendbandright {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 18, 61);
    height: 100%;
    width: 3px;
    transition: 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 30;
}

.sendbtn:hover .sendbandright {
    transform: scaleY(1);
    transform-origin: bottom;
}   

.sendbandleft {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(0, 18, 61);
    height: 100%;
    width: 3px;
    transition: 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 30;
}

.sendbtn:hover .sendbandleft {
    transform: scaleY(1);
    transform-origin: top;
}

/*--------------------------------FOOTER------------------------------*/

.footer {
    background: rgb(0, 18, 61);
    position: absolute;
    top: 110vh;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;;
    display: flex;
    flex-direction: column;

}

.footergrid {
    display: grid; 
    width: 30vw;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: auto auto auto auto;
    white-space: nowrap;
    font-size: 20px;
    grid-gap: 50px;
    align-items: center;
}

.footerlink a {
    text-decoration: none;
    color: white;
    width: min-content;
    display: block;
    font-family: 'Abel', sans-serif;
}

.footerlink {
    width: 200px;
}

.footerlink a::after {
    content:' ';
    height: 2px;
    position: relative;
    display: block;
    background:  rgb(250, 140, 60);
    width: 100%;
    transition: .15s cubic-bezier(.26,.81,.97,.99);
    transform: scaleX(0);
    transform-origin: left;

}

.footerlink a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}


.footerline {
    height: 100%;
    width: 3px;
    background: rgb(250, 140, 60);
    grid-row: 1 / span 3;
    grid-column: 2;
}

.smalltext {
    font-size: 15px;
}

.socialbuttons a {
    height: 60px;
    width: 60px;
    font-size: 35px; 
    display: block;
    background: lightgrey;
    border-radius: 50%;
    margin-left: 120px;
    text-align: center;
    text-decoration: none;
    color:  rgb(0, 18, 61);
    transition: .3s cubic-bezier(.26,.81,.97,.99);
}

.socialbuttons a:hover {
    background:  rgb(250, 140, 60);
}

.socialbuttons i {
    line-height: 60px;
}