/* font-family: 'Abel', sans-serif; */

* {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;
}

/*--------------NAVBAR------------------*/

.navbar-background {
    background: rgb(0, 18, 61);
    width: 100vw;
    height: 150px;
    z-index: 10;
    position: fixed;
    box-shadow: 0px 3px 15px 3px rgba(90, 90, 90, .5);
    
}

.navbar {
    display: grid;
    grid-template-columns:min-content auto auto;
    grid-template-rows: min-content;
    z-index: 11;
    margin-left: 150px;
    align-items: end;
    top: 35px;
    position: fixed;
    right: 0;
    left: 0;
}


.logo {
    font-size: 40px;
    color: rgb(242, 253, 255);
    white-space: wrap;
    
}

.phone {
    margin-left: 20px;
}

.phone a {
    color: rgb(250, 140, 60);
    font-size: 25px;
    text-decoration: none;
    white-space: nowrap;
    transition: .15s cubic-bezier(.26,.81,.97,.99);

}

.phone a:hover {
    opacity: .75;
}

.link-grid {
    display: grid;
    grid-template-columns: min-content min-content auto;
    grid-template-rows: auto;
    grid-gap: 100px;
    white-space: nowrap;
    justify-content: end;
    margin-right: 150px;
    
}

.link-grid a {
    text-decoration: none;
    color: rgb(242, 253, 255);
    font-size: 30px;
    
}

.link-grid a::after {
    content: ' ';
    position: relative;
    border-bottom: 3px solid rgb(250, 140, 60);
    width: 100%;
    display: block;
    bottom: 5px;
    transition: transform .15s cubic-bezier(.26,.81,.97,.99);
    transform: scaleX(0);
    transform-origin: right;
    z-index: 0;
}

.link-grid a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*-------------DIGGER GRID-------------*/


.img {
    position: absolute;
    top: 30vh;
    margin-right: 150px;
    margin-left: 150px;
    box-shadow: -35px 35px 20px -25px rgb(180, 180, 180);
    opacity: .7;
}

.peoplegrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    max-height: 600px;
    left: 65vw;
    top: 40vh;  
    white-space: wrap;
    width: 500px;
    justify-content: start;
}

.people {
    font-size: 40px;
    color: rgb(0, 18, 61);
    transition: transform .5s cubic-bezier(.26,.81,.97,.99),
                opacity .5s cubic-bezier(.26,.81,.97,.99) .2s;
    opacity: 0;
    transform: translateX(50px);

}

.writeup {
    transition-delay: .3s;
    font-size: 20px;
    font-family: 'Abel', sans-serif;

}

.peoplefade {
    transform: translateX(0px);
    opacity: 1;
}

/*-------------SERVICES FLEXBOX-------------*/

#servicesflex {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 100vh;
    text-align: center;
    margin-left: -65px;
    padding-top: 200px;


}

.servicesbox {
    height: auto;
    width: 400px;
    position: relative;
    background: rgb(0, 18, 61);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto min-content min-content;  
    text-align: center; 
    justify-content: center;
    transition: transform .5s cubic-bezier(.26,.81,.97,.99)
                , opacity .5s cubic-bezier(.26,.81,.97,.99);
    opacity: 0;
    cursor: default;

}

.servicesfade {
    opacity: 1;
    transform: translateX(50px);
}

.three {
    transition-delay: .2s;
}

.two {
    transition-delay: .4s;
}

.one {
    transition-delay: .6s;
}

.service-description { 
    margin: 0px 50px 25px 50px;
    color: rgb(250, 140, 60);
    font-size: 20px;
    height: min-content;
    z-index: 10;
    font-family: 'Abel', sans-serif;

}

.dumptruck {
    position: absolute;
    top: 30px;
    left: 100px;
    margin-top: 10px;
}

.excavator {
    position: absolute;
    top: 30px;
    left: 140px;
}

.loggingtruck {
    position: relative;
    top: 30px;
    left: 100px;
    margin-top: 20px;
}


.serviceicons {
    margin-bottom: -100px;
    overflow-y: hidden;
}

/*-------------HEADSHOT SECTION-------------*/

.team {
    font-size: 40px;
    position: absolute;
    top: 205vh;
    left: 0;
    margin-left: 475px;
    color:  rgb(0, 18, 61);
}

.headshots {
    margin-left: 450px;
    display: grid; 
    grid-template-columns: min-content;
    grid-template-rows: auto auto auto;
    position: absolute;
    top: 220vh;
}

.headshotstwo {
    display: grid; 
    grid-template-columns: min-content;
    grid-template-rows: auto auto auto;
    position: absolute;
    top: 255vh;
    right: 35vh;
}

.headshotsthree {
    margin-left: 450px;
    display: grid; 
    grid-template-columns: min-content;
    grid-template-rows: auto auto auto;
    position: absolute;
    top: 305vh;
}   

.description {
    color: rgb(0, 18, 61);
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.headshots .line {
    margin-left: 30px;
}

.headshotstwo .line {
    margin-left: 30px;
}

.headshotsthree .line {
    margin-left: 30px;
}

.line {
    height: 3px;
    background: rgb(250, 140, 60);
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    opacity: 0;
}

.lineanim {
    animation: lineanim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes lineanim {
    
    0% {
        width: 0%;
        opacity: 0;

    }

    15% {
        opacity: 0;
    }

    100% {
        width: 60%;
        opacity: 1;
        
    }
}

.item {
    transition: transform .5s cubic-bezier(.26,.81,.97,.99)
                , opacity .3s cubic-bezier(.26,.81,.97,.99) .3s;
    opacity: 0;
    transform: translateX(-50px);
    margin: 0px 30px 10px 30px;
}

.itemfade {
    transform: translateX(0px);
    opacity: 1;

}

/*----------------CAREERS------------------*/

.careers {
    display: grid;
    grid-template-columns: min-content; 
    grid-template-rows: auto min-content auto auto; 
    position: absolute;
    top: 390vh;
    margin-left: 425px;
    width: 100%;
    justify-content: start;
    color: rgb(0, 18, 61); 
    overflow-x: hidden;   
}

.career {
    opacity: 0;
    transition: transform .5s cubic-bezier(.26,.81,.97,.99)
                , opacity .3s cubic-bezier(.26,.81,.97,.99) .3s; 

}

.careers .header {
    font-size: 40px;
}

.careers .writeup {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 50vw;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.careers .line {
    margin-left: 50px;  
}

.careerfade {
    transform: translateX(50px);
    opacity: 1;
}

.contactbtn {
    height: 45px;
    width: min-content;
    white-space: nowrap;
    opacity: 0;
    padding: 0px 25px 0px 25px;
    background: rgb(250, 140, 60);
    font-size: 30px; 
    font-family: 'Abel', sans-serif;   
    position: relative;
    line-height: 45px;
    text-align: center;
    margin-left: 50px;
    margin-top: 100px;
    text-decoration: none;
    color: rgb(0, 18, 61);
    transition: transform .5s cubic-bezier(.26,.81,.97,.99) .1s 
                , opacity .5s cubic-bezier(.26,.81,.97,.99) .4s
                , background-color .5s cubic-bezier(.26,.81,.97,.99);
}

.contactbtnfade {
    transform: translateY(-50px);
    opacity: 1;
}

.contactbtn:hover {
    background-color: rgb(250, 181, 117);
    cursor: pointer;
}

.contactbtn::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgb(0, 18, 61);
    width: 100%;
    height: 3px;
    transition: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}

.contactbtn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.contactbtn::after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 0;
    background: rgb(0, 18, 61);
    width: 100%;
    height: 3px;
    transition: 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.contactbtn:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.contactbandright {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 18, 61);
    height: 100%;
    width: 3px;
    transition: 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 30;
}

.contactbtn:hover .contactbandright {
    transform: scaleY(1);
    transform-origin: bottom;
}   

.contactbandleft {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(0, 18, 61);
    height: 100%;
    width: 3px;
    transition: 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 30;
}

.contactbtn:hover .contactbandleft {
    transform: scaleY(1);
    transform-origin: top;
}

/*----------------FOOTER------------------*/

.footer {
    background: rgb(0, 18, 61);
    position: absolute;
    top: 455vh;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;;
    display: flex;
    flex-direction: column;

}

.footergrid {
    display: grid; 
    width: 30vw;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: auto auto auto auto;
    white-space: nowrap;
    font-size: 20px;
    grid-gap: 50px;
    align-items: center;
}

.footerlink a {
    text-decoration: none;
    color: white;
    width: min-content;
    display: block;
    font-family: 'Abel', sans-serif;
}

.footerlink {
    width: 200px;
}

.footerlink a::after {
    content:' ';
    height: 2px;
    position: relative;
    display: block;
    background:  rgb(250, 140, 60);
    width: 100%;
    transition: .15s cubic-bezier(.26,.81,.97,.99);
    transform: scaleX(0);
    transform-origin: left;

}

.footerlink a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}


.footerline {
    height: 100%;
    width: 3px;
    background: rgb(250, 140, 60);
    grid-row: 1 / span 3;
    grid-column: 2;
}

.smalltext {
    font-size: 15px;
}

.socialbuttons a {
    height: 60px;
    width: 60px;
    font-size: 35px; 
    display: block;
    background: lightgrey;
    border-radius: 50%;
    margin-left: 120px;
    text-align: center;
    text-decoration: none;
    color:  rgb(0, 18, 61);
    transition: .3s cubic-bezier(.26,.81,.97,.99);
}

.socialbuttons a:hover {
    background:  rgb(250, 140, 60);
}

.socialbuttons i {
    line-height: 60px;
}














